.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.countryInfo {
  margin-left: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reset {
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
